In [ ]:
list4=["yahiya",4,5,7,8,123,-33,"fathima"]

In [ ]:
list5=list(list4)

In [ ]:
list5

['yahiya', 4, 5, 7, 8, 123, -33, 'fathima']